{% extends "layouts/base_rh.html" %}

{% load widget_tweaks %}

{% block content %}
<h1 class="text-3xl text-black pb-6">Empleados</h1>

<!-- Selector de obra -->
<form method="GET" action="">  <!-- Asegúrate de que esta línea esté presente -->
  <label for="obra-select">Seleccione una obra:</label>
  <select id="obra-select" name="obra_id" onchange="this.form.submit()">
      <option value="">Seleccionar obra</option>

      {% for obra in obras %}
      <option value="{{ obra.id }}" {% if obra.id == request.GET.obra_id %}selected{% endif %}>
          {{ obra.nombre }}
      </option>
      {% endfor %}
  </select>
  <noscript><input type="submit" value="Cargar"></noscript>
</form>

<div class="flex justify-center">
  <div class="w-full max-w-lg">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <p class="text-x pb-6 flex items-center">
        <i class="fas fa-list mr-3"></i>Crear Empleado
      </p>
      <div>
        <a href="{% url 'reporte_asistencia_pdf' obra_id=obra.id %}" class="btn btn-primary">Descargar Reporte de Asistencia PDF</a>
    </div>
      <!-- Formulario de creación de empleado -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
            {{ field.label }}
          </label>
          {% render_field field class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %}
          {% if field.help_text %}
          <p class="text-xs italic text-gray-600">{{ field.help_text }}</p>
          {% endif %}
        </div>
        {% endfor %}
        <div class="flex justify-center">
          <button type="submit" class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded">
            Guardar Empleado
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
    const sueldosBase = JSON.parse('{{ sueldos_base|safe }}');  // Asegúrate de que 'sueldos_base' esté correctamente formateado como JSON.
    const puestoSelect = document.getElementById('id_puesto'); // Asegúrate de que 'id_puesto' es el ID correcto del elemento select de puestos.
    const sueldoInput = document.getElementById('id_sueldo');

    puestoSelect.addEventListener('change', function () {
        const sueldoBase = sueldosBase[this.value];  // Obtiene el sueldo base usando el value del puesto seleccionado.
        sueldoInput.value = sueldoBase ? sueldoBase : '';  // Actualiza el campo de sueldo. Si no hay sueldo base, limpia el campo.
    });
});

</script>
{% endblock %}
