{% extends "layouts/base_admin.html" %}

{% block content %}
<h1 class="text-3xl text-black pb-6">Obras</h1>

<div class="w-full mt-6">
    <p class="text-xl pb-3 flex items-center">
        <i class="fas fa-list mr-3"></i> Lista de Obras
    </p>
    
    <a href="{% url 'crear_obra' %}" class="boton-accion boton-editar">Crear obra</a>
<br>
<br>
    <div class="bg-white overflow-auto">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Nombre</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Ubicación</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Descripción</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Presupuesto</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Fecha de Inicio</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Fecha de Fin</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Estado</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Acciones</th>


                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for obra in obras %}
                <tr>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.nombre }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.ubicacion }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.descripcion }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.presupuesto }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.fecha_inicio }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.fecha_fin }}</td>
                    <td class="w-1/3 text-left py-3 px-4">{{ obra.activa|yesno:"Activa,Inactiva" }}</td>
                    <td class="text-left py-3 px-4">
                        <a href="{% url 'cambiar_estado_obra' obra.id %}" class="boton-accion {% if obra.activa %}boton-inactivar{% else %}boton-activar{% endif %}">
                            {% if obra.activa %}Inactivar{% else %}Activar{% endif %}</a>                        
                        <a href="{% url 'eliminar_obra' obra.id %}" class="boton-accion boton-eliminar" onclick="return confirmDelete()">Eliminar</a>
                        <a href="{% url 'editar_obra' obra.id %}" class="boton-accion boton-editar">Modificar</a>  <!-- Asumiendo que tienes una vista de edición -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>

    </div>

</div>
<script>
    function confirmDelete() {
        return confirm('¿Estás seguro de que quieres eliminar esta obra?');
    }
    </script>
    
{% endblock %}