{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asistencia</title>
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
</head>
<body>
    {% if obra %}
    <div id="qr-reader" style="width:500px;height:500px;"></div>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Opcional: Mostrar el texto decodificado o realizar una acción al escanear
            console.log(`Código QR escaneado = ${decodedText}`, decodedResult);
            
            // Aquí, puedes enviar `decodedText` al backend mediante una solicitud fetch
            fetch(`http://localhost:8000/api/registrar_asistencia/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Asegúrate de incluir CSRF token si es necesario
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ codigoQR: decodedText })
            })
            .then(response => response.json())
            .then(data => {
                // Maneja la respuesta del servidor
                console.log(data);
            })
            .catch(error => console.error('Error:', error));
        }

        var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    </script>
    {% else %}
        <p>Este usuario no tiene una obra asignada o no tienes permiso para ver esta página.</p>
    {% endif %}
</body>
</html>